 body{
            margin: 0px;
            padding: 0px;
        }
        .box-1{
            width: 97%;
            height: 69px;
            display: flex;
            justify-content: space-around;
        }
           .nav-2{
      display: flex;
    text-decoration: none;   
    text-transform: uppercase;
    font-size: 20px;
       }
       h3{
        margin-left: 20px;
       }
      a{
    color: black;
    padding: 40px ;
    text-decoration: none;
    float: left;
}
#baro{
    width:97%;
    margin-left: 15px;

    height: 500px;
}
a:hover{
    color: red;
    cursor: pointer;
}
.btn{
    width: 140px;
    margin-left: 45px;
    margin-top: 20px;
    height: 50px;
    background-color: orange;
    border-radius: 14px;
}
#main-box{
    display: flex;
    justify-content: space-around;
 
}
#box-1{
    width: 37%;
    height: 600px;

    margin-left: 30px;
    margin-top: 30px;
    border-radius: 20px;
}
#box-2{
    width: 50%;
    height: 600px;
    margin-top: 30px;
    border-radius: 20px;
}

#box-1-img{
    width: 100%;
    border-radius: 20px;

height: 600px;
}
#tum{
    color:black;
    font-size: 20px;
}
.btn-2{
    width:270px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    background-color: brown;
}
.charoo{
    width: 100%;
    height: 600px;
    background-image: url("img/carousel-1.jpg");
    display: flex;
  
    justify-content: space-around;
}
.charoo-1{
    width: 40%;
    height: 40%;
  
}
.wali{
    text-align: center;
    font-size: 40px;
}
#shar{
    color: white;
}
#raja{
    font-size: 30px;
    color: white;
}
.charoo-2{
    margin-top: 50px;
    width: 40%;
    height: 550;
    background-color: rgb(240, 92, 66) ;
}
.husi{
    text-align: center;
    background-color: white;
    font-size: 40px;
    padding: 30px;
}
#text{
    text-align: center;
    margin-left: 100px;
     width: 370px;
     height: 60px;
     font-size: 40px;
     border-radius: 20px;
    }
        select{
        width: 379px;
        height: 60px;
        font-size: 40px;
        border-radius: 20px;
        text-align: center;
        margin-left: 100px;
    }
        #bbttnn{
        width: 370px;
        height: 60px;
        border-radius: 18px;
        margin-left: 100px;
        font-size: 30px;
    }
        .container-1{
    width: 100%;
    height: 400px;
    background-color: rgb(17, 17, 71);
}
.box-1{
    display: flex;
    /* margin-left: 30px; */
    justify-content:space-around;
    
}
.h1-1{
    color: red;
      font-style: italic;
}
.pab{
    color: white;
    font-size: 20px;
}
.h111{
    display: flex;
    justify-content: space-around;
}
.h1-11{
    width: 30px;
    height: 30px;
    border-radius: 7px;
   
    background-color: green;
    justify-content: space-around;

}
#ana{
    display: flex;
}
.email{
    width: 240px;
    height: 35px;
    background-color: rgb(212, 193, 193);
    font-size: 20px;
}
#aaaa::first-letter{
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
}
#wazir{
    text-align: center;
    margin-top: 300px;
}
#taqu{
    font-size: 55px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 10px;
    color:black;
    margin-top: -460px;
}
 h3{
            width: 130px;
            height: 40px;
            background-color: rgb(230, 227, 227);
            text-align: center;
            margin-right: 20px;
            margin-left: 10px;
            margin-top: 10px;
            padding: 15px;
            font-size: 30px; 
        }
