       .nav-1{
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: space-around;
          
        }
            .nav-2{
      display: flex;
      
    text-decoration: none;
    
    
    text-transform: uppercase;
       }
             #babi:hover{
         color: red;

        }
        .btn{
    width: 140px;
    margin-left: 90px;
    margin-top: 20px;
    height: 50px;
    background-color: orange;
    border-radius: 14px;
}
.btn:hover{
    color: rgb(22, 20, 18);
    cursor: pointer;
    transition: 2ms;
    height: 52px;
}
.img-1{
    width: 100%;
    height: 500px;
    border-radius: 0px 0px ;
     box-shadow: 0px 0px;
 
}
.btn{
    width: 140px;
    margin-left: 90px;
    margin-top: 20px;
    height: 50px;
    background-color: orange;
    border-radius: 14px;
}
.btn:hover{
    color: rgb(22, 20, 18);
    cursor: pointer;
    transition: 2ms;
    height: 52px;
}
.img-1{
    width: 100%;
    height: 500px;
    border-radius: 0px 0px ;
     box-shadow: 0px 0px;
 
}
      a{
    color: black;
    padding: 40px ;
    text-decoration: none;
    float: left;
}
    h3{
            width: 130px;
            height: 40px;
            background-color: rgb(230, 227, 227);
            text-align: center;
            margin-right: 20px;
            margin-left: 10px;
            margin-top: 10px;
            padding: 15px;
            font-size: 30px; 
        }
        #taqu{
    font-size: 55px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 10px;
    color:black;
    margin-top: -460px;
}