 nav{
    display: flex;
    background-color: #333;
    text-decoration: none;
    padding: 20px;
    text-transform: uppercase;
}
a{
    color: white;
    padding: 14px ;
    text-decoration: none;
    float: left;
}
.img-a{
    border-radius: 50%;
    margin-right: 10px;
}

 .column-1{
        display: flex;
        grid-template-rows: repeat(3, 150px);
        grid-template-columns: 200px;
        gap: 10px;
        background-color: wheat;
        padding: 20px;
    }

    .box-1{
      
        height: 450px;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .box-2{
        
        height: 450px;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .box-3{
        height: 450px;
        background-color: rgba(255, 255, 255, 0.8);
    }
     .box-4{
      
        height: 450px;
        background-color: rgba(255, 255, 255, 0.8);
    }
     .box-5{
      
        height: 450px;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .column-2{
        display: flex;
        grid-template-rows: repeat(3, 150px);
        grid-template-columns: 200px;
        gap: 10px;
        background-color: wheat;
        padding: 10px;
    }
    .box-2-1{
        width: 300px;
        height: 450px;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .box-2-2{
         width: 300px;
        height: 450px;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .box-2-3{
         width: 300px;
        height: 450px;
        background-color: rgba(255, 255, 255, 0.8);
    }
     .box-2-4{
         width: 300px;
        height: 450px;
        background-color: rgba(255, 255, 255, 0.8);
    }
     .box-2-5{
         width: 300px;
        height: 450px;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .column-3{
        display: flex;
        grid-template-rows: repeat(3, 150px);
        grid-template-columns: 200px;
        gap: 10px;
        background-color:wheat;
        padding: 10px;
    }
    .box-3-1{
        width: 300px;
        height: 450px;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .box-3-2{
         width: 300px;
        height: 450px;
        background-color: rgba(255, 255, 255, 0.8);
    
    }
    .box-3-3{
         width: 300px;
        height: 450px;
        background-color: rgba(255, 255, 255, 0.8);
    }
     .box-3-4{
         width: 300px;
        height: 450px;
        background-color: rgba(255, 255, 255, 0.8);
    }
     .box-3-5{
         width: 300px;
        height: 450px;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .box-1, .box-2, .box-3, .box-4, .box-5:hover{
        cursor: pointer;
    }
     .box2-1, .box2-2, .box2-3, .box2-4, .box2-5:hover{
        cursor: pointer;
    } 
    .box2-1, .box2-2, .box2-3, .box2-4, .box2-5:hover{
        cursor: pointer;
    }