 *{
    padding: 0;
    margin:0;
 }
 body{
    background-image: url("../img/sea-img-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
 }
 
 .main-div-1{
    width: 98%;
    height: 120px;
    background:transparent;
}
.nav-bar{
    font-size: 40px;
    width: 98%;
    display: flex;
    justify-content: space-around;
    height: 100%;
    
   
}
.nav-bar a{
    text-decoration: none;
    color: #fff;
    padding-top: 30px;
    transition: 0.4s ease-in-out;
}
.nav-bar a:hover, .nav-bar a.home{
    color: green;
}
.img-a{
    border-radius: 50%;
    margin-right: 10px;
}
/* column-1 */

 .column-1{
    width: 96%;
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    .box-1-1{
        border-end-end-radius: 5%;
      width: 18%;
        height: 400px;
        box-shadow: 8px  8px  20px;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .box-1-1 .box-1-img{
        height: 55%;
        width: 100%;
    }
    .box-1-2{
        width: 18%;
        box-shadow: 8px  8px  20px;
        border-end-end-radius: 5%;
        height: 400px;
        background-color: rgba(255, 255, 255, 0.8);
    }
       .box-1-2 .box-2-img{
        height: 55%;
        width: 100%;
    }
    .box-1-3{
        width: 18%;
        box-shadow: 8px  8px  20px;
        height: 400px;
        border-end-end-radius: 5%;
        background-color: rgba(255, 255, 255, 0.8);
    }
       .box-1-3 .box-3-img{
        height: 55%;
        width: 100%;
    }
     .box-1-4{
      width: 18%;
        height: 400px;
        background-color: rgba(255, 255, 255, 0.8);
        border-end-end-radius: 5%;
        box-shadow: 8px  8px  20px;

    }
       .box-1-4 .box-4-img{
        height: 55%;
        width: 100%;
    }
     .box-1-5{
      width: 18%;
        height: 400px;
        box-shadow: 8px  8px  20px;
        border-end-end-radius: 5%;
        background-color: rgba(255, 255, 255, 0.8);
    }
       .box-1-5 .box-5-img{
        height: 55%;
        width: 100%;
    }
    /* column-2 */
    .column-2{
        display: flex;
      width: 96%;
        padding: 28px;
        
        justify-content: space-between;
    }
    .box-2-1{
        width: 18%;
        height: 400px;
        border-end-end-radius: 5%;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 8px  8px  20px;

    }
    .box-2-1 .box-2-1-img{
        height: 55%;
        width: 100%;
    }
    .box-2-2{
         width: 18%;
        height: 400px;
        box-shadow: 8px  8px  20px;
        border-end-end-radius: 5%;
        background-color: rgba(255, 255, 255, 0.8);
    }
     .box-2-2 .box-2-2-img{
        height: 55%;
        width: 100%;
    }
    .box-2-3{
         width:18%;
        height: 400px;
        border-end-end-radius: 5%;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 8px  8px  20px;

    }
     .box-2-3 .box-2-3-img{
        height: 55%;
        width: 100%;
    }
     .box-2-4{
         width: 18%;
        height: 400px;
        box-shadow: 8px  8px  20px;
border-end-end-radius: 10px
;
        background-color: rgba(255, 255, 255, 0.8);
    }
     .box-2-4 .box-2-4-img{
        height: 55%;
        width: 100%;
    }
     .box-2-5{
         width:18%;
        border-end-end-radius: 5%;
        height: 400px;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 8px  8px  20px;

    }
     .box-2-5 .box-2-5-img{
        height: 55%;
        width: 100%;
    }
    /* column-3 */
    .column-3{
        display: flex;
      width: 96%;
        padding:28px;
        justify-content: space-around;
    }
    .box-3-1{
        width: 18%;
        border-end-end-radius: 5%;
        height: 400px;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 8px  8px  20px;

    }
    .box-3-1 .box-3-1-img{
        height: 55%;
        width: 100%;
    }
    .box-3-2{
        border-end-end-radius: 5%;
         width: 18%;
        height: 400px;
        box-shadow: 8px  8px  20px;

        background-color: rgba(255, 255, 255, 0.8);
    
    }
        .box-3-2 .box-3-2-img{
        height: 55%;
        width: 100%;
    }
    .box-3-3{
         width: 18%;
        border-end-end-radius: 5%;
        height: 400px;
        box-shadow: 8px  8px  20px;

        background-color: rgba(255, 255, 255, 0.8);
    }
        .box-3-3 .box-3-3-img{
        height: 55%;
        width: 100%;
    }
     .box-3-4{
         width: 18%;
        border-end-end-radius: 5%;
        height: 400px;
        box-shadow: 8px  8px  20px;

        background-color: rgba(255, 255, 255, 0.8);
    }
        .box-3-4 .box-3-4-img{
        height: 55%;
        width: 100%;
    }
     .box-3-5{
         width: 18%;
        border-end-end-radius: 5%;
        height: 400px;
        box-shadow: 8px  8px  20px;
        background-color: rgba(255, 255, 255, 0.8);
    }
        .box-3-5 .box-3-5-img{
        height: 55%;
        width: 100%;
    }
    .box-1, .box-2, .box-3, .box-4, .box-5:hover{
        cursor: pointer;
    }
     .box2-1, .box2-2, .box2-3, .box2-4, .box2-5:hover{
        cursor: pointer;
    } 
    .box2-1, .box2-2, .box2-3, .box2-4, .box2-5:hover{
        cursor: pointer;
    }
    @media screen and (max-width:1120px) {
     .nav-bar{
        font-size: 30px;
     }
        /* box-1 */
    .box-1-1{
        height: 350px;
    }
    .box-1-1 p{
        font-size: 14px;
    }
     .box-1-2{
       height: 350px;
    } 
    .box-1-2 p{
     font-size: 14px;
    }
    .box-1-3{
        height: 350px;
    } 
    .box-1-3 p{
        font-size: 14px;
    }
    .box-1-4{
       height: 350px;
    } 
    .box-1-4 p{
        font-size: 14px;
    }
    .box-1-5{
        height: 350px;
    }
    .box-1-5 p {
        font-size: 14px;
    }
    /* box-1 price */
    .box-1-1 .price{
        font-size: 14px;
    }
    
        /* box-2 */
    .box-2-1{
        height: 350px;
    }
    .box-2-1 p{
        font-size: 14px;
    }
     .box-2-2{
       height: 350px;
    } 
    /* p*/
    .box-2-2 p{
     font-size: 14px;
    }
    .box-2-3{
        height: 350px;
    } 
    .box-2-3 p{
        font-size: 14px;
    }
    .box-2-4{
       height: 350px;
    } 
    .box-2-4 p{
        font-size: 14px;
    }
    .box-2-5{
        height: 350px;
    }
    .box-2-5 p {
        font-size: 14px;
    } 
      /* box-3 */
    .box-3-1{
        height: 350px;
    }
    .box-3-1 p{
        font-size: 14px;
    }
     .box-3-2{
       height: 350px;
    } 
    /* p*/
    .box-3-2 p{
     font-size: 14px;
    }
    .box-3-3{
        height: 350px;
    } 
    .box-3-3 p{
        font-size: 14px;
    }
    .box-3-4{
       height: 350px;
    } 
    .box-3-4 p{
        font-size: 14px;
    }
    .box-3-5{
        height: 350px;
    }
    .box-3-5 p {
        font-size: 14px;
    }    
    }
    @media screen and (max-width:900px) {
        .nav-bar {
            font-size: 20px;
        }
   .container .price{
    font-size: 10px;
   }
   .container mark{
    font-size: 10px;
   }
        /* box-1 */
    .box-1-1{
        height: 250px;
    }
    .box-1-1 p{
        font-size: 10px;
    }
     .box-1-2{
       height: 250px;
    } 
    /* p*/
    .box-1-2 p{
     font-size: 10px;
    }
    .box-1-3{
        height: 250px;
    } 
    .box-1-3 p{
        font-size: 10px;
    }
    .box-1-4{
       height: 250px;
    } 
    .box-1-4 p{
        font-size: 10px;
    }
    .box-1-5{
        height: 250px;
    }
    .box-1-5 p {
        font-size: 10px;
    }
    
        /* box-2 */
    .box-2-1{
        height: 250px;
    }
    .box-2-1 p{
        font-size: 10px;
    }
     .box-2-2{
       height: 250px;
    } 
    /* p*/
    .box-2-2 p{
     font-size: 10px;
    }
    .box-2-3{
        height: 250px;
    } 
    .box-2-3 p{
        font-size: 10px;
    }
    .box-2-4{
       height: 250px;
    } 
    .box-2-4 p{
        font-size: 10px;
    }
    .box-2-5{
        height: 250px;
    }
    .box-2-5 p {
        font-size: 10px;
    }    
        /* box-3 */
    .box-3-1{
        height: 250px;
    }
    .box-3-1 p{
        font-size: 10px;
    }
     .box-3-2{
       height: 250px;
    } 

    .box-3-2 p{
     font-size: 10px;
    }
    .box-3-3{
        height: 250px;
    } 
    .box-3-3 p{
        font-size: 10px;
    }
    .box-3-4{
       height: 250px;
    } 
    .box-3-4 p{
        font-size: 10px;
    }
    .box-3-5{
        height: 250px;
    }
    .box-3-5 p {
        font-size: 10px;
    }
    
        
    }
  @media screen and (max-width:625px) {
        .nav-bar {
            font-size: 15px;
        }
   .container .price{
    font-size: 7px;
   }
   .container mark{
    font-size: 9px;
   }
        /* box-1 */
    .box-1-1{
        height: 200px;
    }
    .box-1-1 p{
        font-size: 9px;
    }
     .box-1-2{
       height: 200px;
    } 
    /* p*/
    .box-1-2 p{
     font-size: 9px;
    }
    .box-1-3{
        height: 200px;
    } 
    .box-1-3 p{
        font-size:9px;
    }
    .box-1-4{
       height: 200px;
    } 
    .box-1-4 p{
        font-size:9px;
    }
    .box-1-5{
        height: 200px;
    }
    .box-1-5 p {
        font-size: 9px;
    }
    
        /* box-2 */
    .box-2-1{
        height: 200px;
    }
    .box-2-1 p{
        font-size: 9px;
    }
     .box-2-2{
       height: 200px;
    } 
    /* p*/
    .box-2-2 p{
     font-size: 9px;
    }
    .box-2-3{
        height: 200px;
    } 
    .box-2-3 p{
        font-size:9px;
    }
    .box-2-4{
       height: 200px;
    } 
    .box-2-4 p{
        font-size: 9px;
    }
    .box-2-5{
        height: 200px;
    }
    .box-2-5 p {
        font-size: 9px;
    }    
        /* box-3 */
    .box-3-1{
        height: 200px;
    }
    .box-3-1 p{
        font-size: 9px;
    }
     .box-3-2{
       height: 200px;
    } 

    .box-3-2 p{
     font-size: 9px;
    }
    .box-3-3{
        height: 200px;
    } 
    .box-3-3 p{
        font-size: 9px;
    }
    .box-3-4{
       height: 200px;
    } 
    .box-3-4 p{
        font-size: 9px;
    }
    .box-3-5{
        height: 200px;
    }
    .box-3-5 p {
        font-size: 9px;
    }
}