       body{
            margin: 0px;
            padding: 0px;
        }
        .nav-1{
            width: 1350px;
            height: 100px;
            display: flex;
            justify-content: space-around;
          
        }
        #babi:hover{
         color: red;

        }
        #abcd::first-letter{
            font-size: 60px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: blue;

        }
        h3{
            width: 130px;
            height: 40px;
            background-color: rgb(230, 227, 227);
            text-align: center;
            margin-right: 20px;
            margin-left: 10px;
            margin-top: 10px;
            padding: 15px;
            font-size: 30px; 
        }
        .nav-1 h1{
            color: black;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 36px;
        }
        .nav-1 h2{
            color: black;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 20px;
        }
       .nav-2{
        width: 1350px;
        height: 70px;
      display: flex;
      
    text-decoration: none;
    
    
    text-transform: uppercase;
       }
      a{
    color: black;
    padding: 40px ;
    text-decoration: none;
    float: left;
}
.nav-2-1{
    background-color: green;
}
.btn{
    width: 140px;
    margin-left: 90px;
    margin-top: 20px;
    height: 50px;
    background-color: orange;
    border-radius: 14px;
}
.btn:hover{
    color: rgb(22, 20, 18);
    cursor: pointer;
    transition: 2ms;
    height: 52px;
}
.img-1{
    width: 100%;
    height: 500px;
    border-radius: 0px 0px ;
     box-shadow: 0px 0px;
 
}
h2{
    text-align: center;
    text-decoration: none;
    color: red;
}
.h2-2{
    text-align: center;
     color: black;
}
.h1-1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#hammad{
    margin-top: 300px;
}
.main-div{
    display: flex;
}
.div-1{
    margin-left: 20px;
width: 300px;
height: 400px;
background-color: rgb(231, 241, 231);
border-radius: 20px;

}
.div-2{
    margin-left: 20px;
width: 300px;
height: 400px;
background-color:rgb(231, 241, 231);
border-radius: 20px;

}.div-3{
    margin-left: 20px;
width: 300px;
height: 400px;
background-color:rgb(231, 241, 231);
border-radius: 20px;
}
.div-4{
    margin-left: 20px;
width: 300px;
height: 400px;
background-color: rgb(231, 241, 231);
border-radius: 20px;

}
img{
    width: 300px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 5px 5px 0;
}
h1{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container-1{
    width: 1340px;
    height: 400px;
    background-color: rgb(17, 17, 71);
}
.box-1{
    display: flex;
    /* margin-left: 30px; */
    justify-content:space-around;
    
}
.h1-1{
    color: red;
      font-style: italic;
}
p{
    color: white;
    font-size: 20px;
}
button{
    width: 120px;
    height: 40px;
    margin-left: 20px;
    background-color: rgb(236, 135, 52);
}
.email{
    width: 240px;
    height: 35px;
    background-color: rgb(212, 193, 193);
    font-size: 20px;
}
#ana{
    display: flex;
}
.wazir{
    text-align: center;
    margin-top: 90px;
}
sup{
    color: red;
}
.h111{
    display: flex;
    justify-content: space-around;
}
.h1-11{
    width: 30px;
    height: 30px;
    border-radius: 7px;
   
    background-color: green;
    justify-content: space-around;

}
.h1-12{
    width: 30px;
    height: 30px;
    background-color: green;
    justify-content: space-around;
    border-radius: 7px;
}
.h1-13{
    width: 30px;
    height: 30px;
    background-color: green;

    border-radius: 7px;

   
}
.h1-14{
    width: 30px;
    height: 30px;
    border-radius: 7px;
    background-color: green;
    justify-content: space-around;

}
#taqu{
    font-size: 55px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 10px;
    color:black;
    margin-top: -460px;
}