     body{
            margin: 0px;
            padding: 0px;
        }
        #babi:hover{
            color: red;
        }
        #box-1{
            width: 1300px;
            height: 69px;
            display: flex;
            justify-content: space-around;
        }
       
        h3{
            width: 130px;
            height: 40px;
            background-color: rgb(230, 227, 227);
            text-align: center;
            margin-right: 20px;
            margin-left: 10px;
            margin-top: 10px;
            padding: 15px;
            font-size: 30px; 
        }
          .nav-1 h1{
            color: black;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 36px;
        }
        .nav-1 h2{
            color: black;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 20px;
        }
       #nav-2{
        width: 1320px;
        height: 70px;
      display: flex;
    text-decoration: none;    
    text-transform: uppercase;
       }
      a{
    color: black;
    padding: 40px ;
    text-decoration: none;
    float: left;
}
.btn{
    width: 140px;
    margin-left: 45px;
    margin-top: 20px;
    height: 50px;
    background-color: orange;
    border-radius: 14px;
}
/* .main-1{
    width: 1350px;
    height: 500px;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 20px;
} */
.img{
    width: 500px;
    height: 700px;
    border-radius: 20px;
height: 100%;
}
.main-box{
    width: 1320px;
    display: flex;
    justify-content: space-around;
}
.h2{
    margin-left: 60px;
}
.btn2{
    width: 170px;
    height: 50px;
    font-size: 30px;
    background-color: rgb(219, 12, 47);
    border-radius: 10px;

}
h2{
    color: red;
}
.h2-2{
    color: black;
    text-align: center;
}
.h1-1{
    color: red;
    text-align: center;
    font-size: 30px;
}

.taju-1{
    width: 1320px;
    height: 300px;
    display: flex;
    justify-content: space-around;
}


.taju-1-1{
    width: 300px;
    height: 250px;
    
    border-radius: 20px;

}
.taju-1-2{
    width: 300px;
    height: 250px;

    border-radius: 20px;


}.taju-1-3{
    width: 300px;
    height: 250px;
    border-radius: 20px;


}.taju-1-4{
    width: 300px;
    height: 250px;
    border-radius: 20px;


}
.taju-1-1:hover{
    transition: 1s;
    width: 312px;
}
.taju-1-2:hover{
    transition: 1s;
    width: 312px;
}
.taju-1-3:hover{
    transition: 1s;
    width: 312px;
}
.taju-1-4:hover{
    transition: 1s;
    width: 312px;
}
/* taju-2 */
.taju-2{
    width: 1320px;
    background-color: white;
    height: 300px;
    display: flex;
    justify-content: space-around;
}


.taju-2-1{
    width: 300px;
    height: 250px;
    border-radius: 20px;

}
.taju-2-2{
    width: 300px;
    height: 250px;
    border-radius: 20px;


}.taju-2-3{
    width: 300px;
    height: 250px;
    border-radius: 20px;


}.taju-2-4{
    width: 300px;
    height: 250px;
    border-radius: 20px;


}
.taju-2-1:hover{
    transition: 1s;
    width: 312px;
}
.taju-2-2:hover{
    transition: 1s;
    width: 312px;
}
.taju-2-3:hover{
    transition: 1s;
    width: 312px;
}
.taju-2-4:hover{
    transition: 1s;
    width: 312px;
}



#img{
    width:100%;
    height: 100%;

}
#oo{
    width: 1320px;

    display: flex;
    justify-content: space-around;

}
#oo1{
    width: 420px;
    height: 480px;
    background-color: rgb(219, 202, 202);
}
#oo2{
    width: 420px;
    height: 480px;
    background-color: rgb(219, 202, 202);
}
#oo3{
    width: 420px;
    height: 480px;
    background-color:  rgb(219, 202, 202);
}
.oo1{
    width: 420px;
    height: 250px;

}
.oo2{
    width: 420px;
    height: 250px;
}
.oo3{
    width: 420px;
    height: 250px;
 
}
pre{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#h22{
    text-align: center;
}
#baro{
    width: 1320px;
    height: 500px;
}
.charoo{
    width: 1320px;
    height: 600px;
    background-image: url("img/carousel-1.jpg");
    display: flex;
  
    justify-content: space-around;
}
.charoo-1{
    width: 40%;
    height: 40%;
  
}
.charoo-2{
    margin-top: 50px;
    width: 40%;
    height: 550;
    background-color: rgb(240, 92, 66) ;
}
#raja{
    font-size: 30px;
    color: white;
}
.wali{
    text-align: center;
    font-size: 40px;
}
#shar{
    color: white;
}
.husi{
    text-align: center;
    background-color: white;
    font-size: 40px;
    padding: 30px;
}
#text{
    text-align: center;
    margin-left: 100px;
     width: 370px;
     height: 60px;
     font-size: 40px;
     border-radius: 20px;
    }
    select{
        width: 379px;
        height: 60px;
        font-size: 40px;
        border-radius: 20px;
        text-align: center;
        margin-left: 100px;
    }
    #bbttnn{
        width: 370px;
        height: 60px;
        border-radius: 18px;
        margin-left: 100px;
        font-size: 30px;
    }
    .container-1{
    width: 1320px;
    height: 400px;
    background-color: rgb(17, 17, 71);
}
.pab{
    color: white;
    font-size: 20px;
}
.box-1{
    display: flex;
    /* margin-left: 30px; */
    justify-content:space-around;
    
}
button{
    width: 120px;
    height: 40px;
    margin-left: 20px;
    background-color: rgb(236, 135, 52);
}
.email{
    width: 240px;
    height: 35px;
    background-color: rgb(212, 193, 193);
    font-size: 20px;
}
.h1-1{
    color: red;
      font-style: italic;
}
.h111{
    display: flex;
    justify-content: space-around;
}
.h1-11{
    width: 30px;
    height: 30px;
    border-radius: 7px;
   
    background-color: green;
    justify-content: space-around;

}
#bbbb::first-letter{
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
}

#ana{
    display: flex;
}
#wazir{
    text-align: center;
    margin-top: 300px;
}
#aliali{
    margin-top: -200px;
    margin-left: 40px;
    font-size: 30px;
    color: white;

}
.babu{
    font-size: 30px;
    margin-left: 28px;
    color: white;
}