.box-1{
    width: 600px;
    height: 700px;
    box-shadow: 0 2px 20px rgba(0, 0, 0,20.9);
    background-color: gray;
    margin-left: 300px;
}
.img{
    border-radius: 800px;
    padding: 20px;
    margin-left: 30px;
    width: 300px;
    height: 300px;

}
.img:hover{
    width: 330px;
    height: 330px;

}p{
    line-height: 50px;
    padding: 20px;
}
.box-1:hover{
    cursor: pointer;
}
   