 body{
            margin: 0px;
            padding: 0px;
        }
        .nav-1{
            width: 1350px;
            height: 100px;
            display: flex;
            justify-content: space-around;
          
        }
        #babi:hover{
         color: red;

        }
        #abcd::first-letter{
            font-size: 60px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: blue;

        }
            #babi:hover{
         color: red;

        }   
        
        @media only screen and (max-width:1342px) {
    
  .nav-1{
    width: 97%;
    height: 100px;
    justify-content: space-around;
    
font-size: 20px;
  }
  a{
    padding: 10px;
  }
      @media only screen and (max-width: 1118px) {
        .nav-1{
            width: 97%;
            height: 100px;
            justify-content: space-around;
            font-size: 25px;
            
        }
     a{
        color: red;
        padding: 45px;
     }        
      }      
        }.nav-2{
        width: 1350px;
        height: 70px;
      display: flex;
      
    text-decoration: none;
    
    
    text-transform: uppercase;
       }
            a{
    color: black;
    padding: 50px ;
    text-decoration: none;
    float: left;
}
        .btn{
    width: 140px;
    margin-left: 90px;
    margin-top: 20px;
    height: 50px;
    background-color: orange;
    border-radius: 14px;
}
.btn:hover{
    color: rgb(22, 20, 18);
    cursor: pointer;
    transition: 2ms;
    height: 52px;
}