h1{
    background: rgb(17 143, 158);
    padding: 50px;
    background-attachment: fixed;
}
nav{
    background-color: #333;
    overflow: hidden;

}
 nav a:hover{
    color: red;
}
nav a{
       text-decoration: none;
       color: white;
       display: block;
       float: left;
       padding: 14px 20px;
}
 h2{
    color: blue;
 }
img{
    padding: 0px 0px;
}
div:nth-child(even){
    background-color: green;
}
.img-1{
    width: 300px;
    height: 300px;
}
footer a:hover{
    color: red;
}
footer p{
   margin:  0px 140px;
}
  nav .align{
    margin-left: auto;
 }
 span{
 background: linear-gradient(to right,#f5d837, #bbb812);
 padding: 10px 50px;
 border-radius: 40px;
  }
  h2{
 text-align: center;
 color: white;
  }
  .img-1{
 border-radius: 50%;
  }
  .img{
    max-width: 100vh;
    height: 100vh;
  }
  .Profile{

  letter-spacing: 4px;
  word-spacing: 8px;
  text-transform: uppercase;
  margin: 20px 0px 30px 0px ;
  }
  .button{
    background-color: #806969;
    border-radius: 3px;
  }
    .but{
    background-color: #806969;
    border-radius: 3px;
  }
    .btn{
    background-color: #806969;
    border-radius: 3px;
  }
  footer a{
    padding: 10px 10px;
    margin: 5px 10px;
    text-decoration: none;
    border-radius: 40px;
  }