*{
    padding: 0px;
    margin: 0px;
}
.background-img{
    background-image: url(img/about.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}
.background-img h2{
    color: #ff7200;
    font-size: 8vh;
    text-align: center;
}
.big-div-1{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 90vh;
}
.child-div-1{
    width: 50%;
    height: 100%;
    background-color: blue;
}
.child-div-2{
    width: 40%;
    height: 100%;
}
.child-div-1 img{
    width: 100% ;
    height: 100%;
    background-repeat: no-repeat;
}
.child-div-2 h3{
    font-size: 5vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: auto;
}
.child-div-2 p{
    line-height: 7vh;
    font-size: 20px;
    height: auto;
}
.child-div-2 button{
    width: 20vh;
    border-radius: 10px;
    height: 5vh;
    border: none;
    background-color: #ff7200;
    transition: 0.4s;
}

.child-div-2 button:hover{
    color: #fff;
         background-color: gray;
}
/* bigcontainer */
.big-container{
    width: 100%;
    height: 90vh;
    background-image: url(img/page-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
        justify-content: space-around;
}
.big-child-1{
    width: 30%;
    line-height: 5vh;
    height: 100%;
}
.big-child-1 h3{
    font-size: 6vh;
    font-family: 'Times New Roman', Times, serif;
color: #fff;
    text-align: center;
    border: none;
}
.big-child-1 p{
    font-size: 20px;
    color: #fff;
}
.big-child-2 {
    width: 60%;
      height: 100%;
padding-left: 6vh;
padding-top: 4vh;
}

 .big-child-2 .small-child{
    width: 90%;
    align-items: center;
    height: 90%;
    text-align: center;
    background-color: #ff7200;
    background: transparent;
    box-shadow: -3px -3px 13px rgb(100, 91, 91);
    border-radius: 10px;
}
.small-child h3{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 6vh;
    border: none;
}
.small-child input{
    border: none; 
    box-shadow: -3px -3px 13px rgb(100, 91, 91);
    margin-top: 10vh;
    width: 50%;
    height: 10vh;
    font-size: 5vh;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.4s;
    border-radius: 10px;
}

.small-child input:hover{
    background-color: gray;
    cursor: pointer;
    color: #fff;
    

}
.small-child button{
    margin-top: 10vh;
    border: none;
    box-shadow: -3px -3px 13px rgb(100, 91, 91);
      transition: 0.4s;
    border-radius: 10px;
    width: 50%;
    height: 10vh;
}
.small-child button:hover{
    color: #fff;
    background-color: gray;
}
.footer{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    background-color: rgb(14, 14, 110);
}
.footer-1, .footer-2{
    width: 30%;
    height: 100%;
    background-color: #ff7200;
}   
.footer-3{
    width: 35%;
    height: 100%;
    background-color: blue;
}