       body{
            margin: 0px;
            padding: 0px;
        }
        .main-container{
            width: 99%;
            height: auto;
        }
        .nav-1{
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: space-around;
          
        }
 
        #abcd::first-letter{
            font-size: 60px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: blue;

        }
      .nav-2 h3{
            width: 9%;
            height: 4vh;
            background-color: rgb(230, 227, 227);
            text-align: center;
            margin-top: 10px;
            padding: 10px;
            font-size: 20px; 
        }
        .nav-1 h1{
            color: black;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 36px;
        }
        .nav-1 h2{
            color: black;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 20px;
        }
       .nav-2{
        width: 100%;
        height: 70px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    text-decoration: none;
    text-transform: uppercase;
       }
    .nav-2 a{
    color: black;
    padding: 30px ;
    text-decoration: none;
    float: left;
    font-size: 25px;
    transition: o.2s ease-in-out;
}
.nav-2 a:hover{
    color: #ff7200;
}
.nav-2-1{
    background-color: green;
}
.btn{
    width: 10%;    
    height:5vh;
    background-color: orange;
    border-radius: 10px;
}
.btn:hover{
    color: rgb(22, 20, 18);
    cursor: pointer;
    transition: 2ms;
    height: 52px;
}
.img-1{
    width: 100%;
    height: 500px;
    border-radius: 0px 0px ;
     box-shadow: 0px 0px;
 
}
h2{
    text-align: center;
    text-decoration: none;
    color: red;
}
.h2-2{
    text-align: center;
     color: black;
}
.h1-1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-div{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
}
.div-1{
    margin-left: 20px;
width: 30%;
height: 400px;
background-color: rgb(231, 241, 231);
border-radius: 20px;

}
.image-div{
    width: 100%;
    height: 100vh;
    background-color: seagreen;
}
.div-2{
    margin-left: 20px;
width: 30%;
height: 400px;
background-color:rgb(231, 241, 231);
border-radius: 20px;

}.div-3{
    margin-left: 20px;
width: 30%;
height: 400px;
background-color:rgb(231, 241, 231);
border-radius: 20px;
}
.div-4{
    margin-left: 20px;
width: 30%;
height: 400px;
background-color: rgb(231, 241, 231);
border-radius: 20px;

}
img{
    width: 300px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 5px 5px 0;
}
h1{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container-1{
    width: 100%;    
    justify-content: space-around;
    height:auto;
    background-color: rgb(17, 17, 71);
}
.box-1{
    display: flex;
    /* margin-left: 30px; */
    justify-content:space-around;
    
}
/* child
 */
.child-1{
    flex-direction: column;   
    width: 20%;
    height: auto;
}
.child-2{
    flex-direction: column;
    background-color: #ff7200;
}
.child-3{
    flex-direction: column;
    background-color: rgb(68, 68, 90);
    width: 49%;
}

.h1-1{
    color: red;
      font-style: italic;
}
p{
    color: white;
    font-size: 20px;
}
button{
    width: 120px;
    height: 40px;
    margin-left: 20px;
    background-color: rgb(236, 135, 52);
}
.email{
    width: 240px;
    height: 35px;
    background-color: rgb(212, 193, 193);
    font-size: 20px;
}
#ana{
    display: flex;
}
.wazir{
    text-align: center;
    margin-top: 90px;
}
sup{
    color: red;
}
.h111{
    display: flex;
    justify-content: space-around;
}
.h1-11{
    width: 30px;
    
    background-color: rgb(17, 17, 71);

    height: 30px;
    border-radius: 7px;
    border: 1px solid #fff;
    justify-content: space-around;

}
.h1-12{
    width: 30px;
    height: 30px;
    background-color: green;
    justify-content: space-around;
    border-radius: 7px;
}
.h1-13{
    width: 30px;
    height: 30px;
    background-color: green;

    border-radius: 7px;

   
}
.h1-14{
    width: 30px;
    height: 30px;
    border-radius: 7px;
    background-color: green;
    justify-content: space-around;

}

@media screen and (max-width:1370px) {
      .nav-2 a{
        padding: 30px;
        font-size: 20px;
      }
    }
    @media screen and (max-width:1264px) {
        .nav-2 a{
            padding: 25px;
        }
    }
    @media screen and (max-width:1200px) {
        .nav-2 a{
            padding: 20px;
            font-size: 15px;
        }
    }
    @media screen and (max-width:1095px) {
          /* nav-1 */
          #abcd{
            font-size: 20px;
          }
          /* div a b c */
          .div-a h2{
            font-size: 20px;
          }
          .div-a p{
        font-size: 15px;
          }
          /* div b */
           .div-b h2{
            font-size: 20px;
          }
          .div-b p{
        font-size: 15px;
          }
          /* div-c */
           .div-c h2{
            font-size: 20px;
          }
          .div-c p{
        font-size: 15px;
          }
          #taqu{
            font-size: 30px;
            font-family:'Times New Roman', Times, serif;
          }
        /* divs section */

         .div-1 h1{
            font-size: 20px;
         }
         .div-1 h2{
            font-size: 20px;
         }
         .div-2 h1{
            font-size: 20px;
         }
         .div-2 h2{
            font-size: 20px;
         }
          .div-3 h1{
            font-size: 20px;
         }
         .div-3 h2{
            font-size: 20px;
         }
          .div-4 h1{
            font-size: 20px;
         }
         .div-4 h2{
            font-size: 20px;
         }
    
         
    }
    @media screen and (max-width:930px) {
     .h1-1{
        font-size: 20px;
     }
     .box-1 p{
        font-size: 10px;
     }
     .box-1 p{
        padding-left:19%;
     }
        #ana input{
            width: 45%;
            height:4vh;
           margin-left: 40px;
        }
        #ana input::placeholder{
           font-size: 15px;
            }
            #ana button{
                width: 20%;
                height: 5vh;
            }
            .wazir{
                margin-top: 30vh;
                font-size: 3vh;
            }
        .div-1 ,.div-2 ,.div-3,.div-4{
            height: 60vh;
        }
    }
    @media screen and (max-width:900px){
        .nav-2 a{
            padding:10px;
        }
        .nav-2  h3{
            font-size: 15px;
        }
    }
    @media screen and (max-width:710px) {
 .div-a h2{
    font-size: 15px;
 }
  .div-a p{
    font-size: 10px;
  }
   .div-b h2{
    font-size: 15px;
 }
  .div-b p{
    font-size: 10px;
  } .div-c h2{
    font-size: 15px;
 }
  .div-c p{
    font-size: 10px;
  }
  #abcd{
    font-size: 15px;
  }
  #abcd::first-letter{
    font-size: 32px;
  }
  /* our developers */
  .h1-1{
    font-size: 15px;
  }
  .awarah{
    font-size: 15px;
  }
  /* div-1 */
   .div-1{
    height: 50%;
  }
  .div-1 h1{
    font-size: 15px;
  }
 
  .div-1 h2{
    font-size: 15px;
    }
    .div-1 img{
        height:50%;
    }
    /* div-2 */
     .div-2{
    height: 50%;
  }
    .div-2 h1{
    font-size: 15px;
  }
  .div-2 h2{
    font-size: 15px;
    }
  /* div-3 */
   .div-3{
    height: 50%;
  }
    .div-3 h1{
    font-size: 15px;
  }
  .div-3 h2{
    font-size: 15px;
    }
    /* div-4 */
     .div-4{
    height: 50%;
  }
    .div-4 h1{
    font-size: 15px;
  }
  .div-4 h2{
    font-size: 15px;
    }
}