body{
  padding: 0%;
  margin: 0%;
}
.head{
    width: 98%;
    height: 23vh;
}
.Ecourses{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
}
 .navagaction{
      width: 98%;
      height: 10vh;
      display: flex;
      justify-content: space-around;
      

      }
      a{
        text-decoration: none;
      
          color: black;
      }
       a:hover{
        cursor: pointer;
        color: red;
      }
     
      
    .subject{
      margin-left: 10px;
        width: 18%;
        height: 10vh;
        font-size: 14px;
        top: 20px;
        background-color: rgb(192, 214, 192);
        text-align: center;
      }
      .subject:hover{
        background-color: lightgray;
        cursor: pointer;
      } 
      .nav-bar{
        width: 70%;
        height: 10vh;
        display: flex;
        margin-top: 20px;
        justify-content: space-around;
        font-size: 20px;
      }
      .nav-1{
        width: 97%;
        height: 500vh;
      }
     
      button{
         margin-top: 11px;
         width: 140px;
         height: 6vh;
         border-radius: 10px;
         background-color: tomato;
      
        
      }
    button:hover{
         color:white;
         cursor: pointer;      
      
      }
      .img-div{
        margin-left: 10px;
        width: 98%;
        height: 550px;
      }
      #img-1{
        width: 98%;
        height: 100%;
            }
.about-div-1{
  display:flex;
  width: 98%;
  height:80vh;
  justify-content: space-around;
}
.about-img{
  margin-left: 10px;
  width: 58%;
  height: 100%;
  border-radius:  10px; 
}
#iabout-img-1{
  width: 97%;
  height: 100%;
  border-radius: 15px;
  
}
 .about-div-2{
  width: 48%;
  height: 80%;
  font-size: 20px;

 
}
.div-11{
  width: 100%;
  height: 4vh;
}
#h2-2{
  color: red;
  font-size: 27px;
}
#h2{
  text-align: center;
  color: red;

}
#h3{
  text-align: center;
  }
  .top-subject{
    width: 96%;
    height: 450px;

  }
  .top-subject-1{
    margin-left: 10px;
    display: flex;
    width: 98%;
    height: 48%;
   
    justify-content: space-around;
  }
 
  #img-2{
    width: 98%;
    height: 100%;
    border-radius: 20px;
  }
   .top-subject-2{
    margin-left: 10px;
    display: flex;
    width: 98%;
    height: 48%;
    justify-content: space-around;
  }
  .our-course{
   
     width: 98%;
     height: 480px  ;
  }
  .our-course-1{
    padding: 0px;
    margin: 0px;
    width: 98%;
    height: 100%;
    display: flex;
    justify-content: space-around;
  }
   .course-box-1{
  width: 32%;
  height:98%;
  background-color: rgb(179, 174, 174);
   }
    .course-box-2{
  width: 32%;
  height:98%;
  background-color: rgb(179, 174, 174);

   }  .course-box-3{
  width: 32%;
  height: 98%;
  background-color: rgb(179, 174, 174);
  
   } 
   #child-img{
    width: 100%;
    height: 50%;
   }
   pre{
    font-family: sans-serif;
    font-size: 20px;
   }
#h22{
  text-align: center;
}
.our-course-2{
    padding: 0px;
    margin: 0px;
    width: 98%;
    height: 100%;
    display: flex;
    justify-content: space-around;
  }