*{
    padding: 0;
    margin: 0;
}
.main-div{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-div-1{
    width: 100%;
    height: 120px;
    background:transparent;
}
.nav-bar{
    font-size: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 100%;
   
}
.nav-bar a{
    text-decoration: none;
    color: #fff;
    padding-top: 30px;
    transition: 0.4s ease-in-out;
}
.nav-bar a:hover, .nav-bar a.home{
    color: #ff7200;
    cursor: pointer;
}
.login-page{
margin-left: 30%;
    margin-top: 1%;
    width: 35%;
    height: 60vh;
  border: 1px solid #ff7200;
    background: transparent;
    border-radius: 4%;
}
.login-page .head{
width: 100%;
height: 10vh;
color: #fff;
align-items: center;
text-align: center;
padding-top: 5%;
background: transparent;
}
.login-page .head:hover{
    color: #ff7200;
    cursor: pointer;
}
.login-page input{
    width: 99.1%;
    margin-top: 7%;
    height: 10vh;
    justify-content: space-between;
    background: transparent;
    border-radius: 10px;
    color: #fff;
font-size: 25px;

}
.login-page button{
    width: 99.8%;
    border-radius: 10px;
    height: 10vh;
    margin-top: 5%;
    font-size: 30px;
    background: transparent;
    cursor: pointer;
    color:#fff;
    transition: 0.4s ease-in-out;
}
.login-page input::placeholder{
    text-align: center;
    color: #fff;
}
.login-page button:hover{
    color: #ff7200;
}


@media screen and (max-width:1400px) {
    .login-page{
        margin-top: 10%;
    }
    
}
@media screen and (max-width:1348px) {
    .login-page{
        height: 50vh;
    }
    .main-div-1{
        height: 100px;
    }
    .login-page input{
        height: 8vh;
    }
    .login-page button{
        height: 8vh;
    }
}
@media screen and (max-width:915px) {
    .login-page{
        height:6vh ;
        width: 40%;
    }
    
}
@media screen and (max-width:880px) {
    .nav-bar{
        font-size: 30px;
    }
    .login-page{
        width:40% ;
    }
    .login-page button{
        font-size: 30px;
    }
    
}
@media screen and (max-width:700px) {
    .nav-bar{
        font-size: 25px;
    }
    .login-page{
        width: 40%;
    }
    .login-page input{
        font-size: 25px;
    }
    .login-page button{
        font-size: 29px;
    }
}
@media screen and (max-width:520px) {
 .nav-bar{
    font-size: 20px;
 }    
 .login-page{
    width: 50%;
    margin-left: 25%;
 }
 .login-page input{
   font-size: 23px;
 }
 .login-page button{
    font-size: 26px;
 }
}
@media screen and (max-width:400px) {
   .nav-bar{
    font-size: 15px;
   }  
   .login-page{
    width: 60%;
    margin-left: 20%;
   }
   .login-page button{
    font-size: 24px;
   }
   .login-page input{
    font-size: 21px;
   }
}
@media screen and (max-width:430px) {
    .login-page{
        height: 48vh;
        width: 65%;
        margin-left: 15%;
    }
    .login-page button{
        font-size: 22px;
    }
    .login-page input{
        font-size: 19px;
    }
}
@media screen and (max-width:312px){
    .nav-bar{
        font-size: 10px;
    }
    .login-page {
        width: 70%;
        height: 45vh;
        font-size: 18px;
    }
    .login-page button{
        font-size: 20px;
    }
    .login-page input{
        font-size: 17px;
    }
}
@media screen and (max-width:240px) {
    .login-page{
        height: 42vh;
        font-size: 16px;

    }
    .login-page .head{
        height:8vh ;
        padding: 4%;
    }
    .login-page input{
     height: 8vh;
     font-size: 15px;
    }
    .login-page button{
        font-size: 18px;
    }
    
}
@media screen and (max-width:200px) {
  .login-page input{
font-size: 15px;
  }   
  .login-page button{
    font-size: 15px;
  }
  .login-page{
    padding: 3%;
  }
}