body{
    background-color: gray;
    
}
.main{
    background-color: aqua;
    width:600px ;
    height: 930px;
    margin-left: 350px;
    margin-top: 40px;
    border-radius: 20px;
}
img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-left: 200px;
  margin-top: 20px;
}
.box-1{
    display: flex;
    width: 200px;
    background-color: violet;
    padding: 10px;
    box-shadow: 10px 10px rgb(34, 30, 30);
    border-bottom-right-radius: 20px;
}
.box-2{
    width: 200px;
    background-color: violet;
    padding:8px;
    box-shadow: 10px 10px  rgb(34, 30, 30);
    border-bottom-right-radius: 20px;
    
}
.box-3{
    width: 200px;
    background-color: violet;
    padding:8px;
    box-shadow: 10px 10px  rgb(34, 30, 30);
    border-bottom-right-radius: 20px;
    
}
p{
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.li{
    text-decoration: double;

}